@model Grad_Project.Models.Lecturer_tbl
@using Grad_Project.Models

<div class="margin_30_95 centered-form">
    <h2 style="text-align:center;">@Model.Name</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal  col-md-offset-2">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(m => m.Password)
            @Html.HiddenFor(m => m.Salt)
            @Html.HiddenFor(m => m.Image)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Save" class="btn btn-sees" />
                </div>
            </div>
        </div>
    }

    <div class="col-md-offset-3">
        @Html.ActionLink("Back to Profile Page", "Details", new { id = Model.ID }, new { @class = "btn btn-sees" }) &ensp;
        @Html.ActionLink("Change Image", "UploadImage", new { id = Model.ID }, new { @class = "btn btn-sees" })
    </div>

</div>