@model Grad_Project.Models.Event_tbl

<div class="margin_30_95" style="margin-left:30px;">

    <h2>@Model.Title - @Html.Encode(String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate))</h2>
    <div style="margin-top: 20px;margin-bottom:20px;">
        <hr />
        <p>@Model.Description</p>
    </div>

    @if (User.IsInRole("Admin") || User.IsInRole("Lecturer"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-sees"}) &ensp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees" })
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Upload", "UploadAssig", new { id = Model.ID }, new { @class = "btn btn-success" }) &ensp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees" })
        </p>   
       
    }
</div>


