@model Grad_Project.Models.Attendance_tbl

<div class="margin_30_95" style="margin-left:30px;">
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("No of Attendances")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.No_of_Attendances)
            </dd>

            <dt>
                @Html.DisplayName("Course")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course_tbl.Name)
            </dd>

            <dt>
                @Html.DisplayName("Student")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student_tbl.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> &ensp;
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success"})
            </div>
        }
    </div>
</div>
