@using Grad_Project.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.E.E.S</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("S.E.E.S", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="MainNavBar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            var db = new LMSDBEntities();
                            var st = db.Student_tbl.FirstOrDefault(m => m.Email == User.Identity.Name);
                            var regCou = db.RegisteredCourses_tbl.Find(st.ID);
                            <li><a href="/Student/Details/@st.ID">Hello - @st.Name</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student Options <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Index", "Course")">Courses</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Result")">Results</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Exam")">Exams</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Event")">Events</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "File")">Courses Material</a></li>
                                    <li class="divider"></li>
                                    <li>
                                        @if (regCou == null)
                                        {
                                            <a href="@Url.Action("Create", "RegisteredCourses")">Courses Registration</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Details", "RegisteredCourses", new { @id = st.ID })">Courses Registration</a>
                                        }
                                    </li>
                                    
                                    
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Lecturer"))
                        {
                            var db = new LMSDBEntities();
                            var lec = db.Lecturer_tbl.FirstOrDefault(m => m.Email == User.Identity.Name);
                            if (lec.Role == "Prof")
                            {
                                <li><a href="/Lecturer/Details/@lec.ID">Hello - Prof. @lec.Name</a></li>
                            }
                            else
                            {
                                <li><a href="/Lecturer/Details/@lec.ID">Hello - Eng. @lec.Name</a></li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lecturer Options <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Index", "Course")">Courses</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Exam")">Exams</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Event")">Events</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Attendance")">Attendance</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            var db = new LMSDBEntities();
                            var ad = db.Admin_tbl.FirstOrDefault(m => m.Email == User.Identity.Name);
                            <li><a href="/Admin/Details/@ad.ID">Hello - @ad.Email</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Options <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Index", "Student")">Students</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Lecturer")">Lecturers</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Course")">Courses</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "RegisteredCourses")">Course Registration</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Event")">Events</a></li>
                                </ul>
                            </li>
                        }

                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("LogIn", "LogIn", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <footer>
            <div class="margin_120_95 container">
                <div class="row">
                    <!-- Upper Part of Footer -->
                    <div class="col-lg-5 col-md-12">
                        <h2>S.E.E.S</h2>
                        <p style="margin: 30px 10px;">S.E.E.S stands for "Smart Educational Environment System".
                         It is a system which helps the students to achieve the higher score through the best learning experience
                         both theoretically and practically. It will help the instructors also in bringing value to students through easier means.
                        </p>
                        <div class="follow_us">
                            <ul style="list-style:none;">
                                <li>Follow us</li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Left Part of Footer -->
                    <div class="col-lg-3 col-md-6" style="margin-left: 30px;">
                        <h3>Useful Links</h3>
                        <ul style="list-style:none;">
                            <li><a href="@Url.Action("LogIn", "Home")">Log in</a></li>
                            <li><a href="@Url.Action("Create", "Student")">Register</a></li>
                        </ul>
                    </div>
                    <!-- Right Part of Footer-->
                    <div class="col-lg-3 col-md-6">
                        <h3>Contact Us</h3>
                        <ul style="list-style:none;">
                            <li><a href="#"><i class="glyphicon glyphicon-phone"></i> +201-199-208</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Info@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <br />
                    <br />
                    <div class="col-md-8">
                        <p>Developed and Designed By <a href="http://mostafashaaban-001-site1.itempurl.com/" style="color:white;">Mostafa Shaaban</a></p>
                    </div>
                    <div class="col-md-4" style="left:0%;">
                        <div id="copy"><p style="text-align:right;">&copy; S.E.E.S</p></div>
                    </div>
                </div>
            </div>
            
        </footer>
    </div>
</body>
</html>