@model Grad_Project.Models.Admin_tbl

<h2>@Model.Email</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <button id="btnCP" class="btn btn-success">Change Password</button>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete This Account", "Delete", new { id = Model.ID })
</p>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnCP').click(function () {
                location.href = '@Url.Action("ChangePassword", new { id = Model.ID })';
            });
        });
    </script>    
}