@model Grad_Project.Models.Admin_tbl



<div class="margin_30_95" style="margin-left: 30px;">
    <h2>@Model.Email</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>

    <div>
        <button id="btnCP" class="btn btn-success">Change Password</button>
    </div>

    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-sees" }) &ensp;
            @Html.ActionLink("Delete This Account", "Delete", new { id = Model.ID }, new { @class = "btn btn-warning" })
        </p>
    </div>
    
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnCP').click(function () {
                location.href = '@Url.Action("ChangePassword", new { id = Model.ID })';
            });
        });
    </script>    
}