@model Grad_Project.Models.RegisteredCourses_tbl

<div class="margin_30_95" style="margin-left:30px;">
    <h2>New Registration</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Enter Student Code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course01, "Course01", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course01", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course01, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course02, "Course02", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course02", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course02, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course03, "Course03", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course03", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course03, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course04, "Course04", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course04", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course04, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course05, "Course05", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course05", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course05, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course06, "Course06", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course06", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course06, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Course07, "Course07", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course07", null, "Select Course", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Course07, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees"})
    </div>

</div>
