@model Grad_Project.Models.RegisteredCourses_tbl

<div class="margin_30_95" style="margin-left:30px;">
    <div>
        <h2>Details</h2>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Course 1:")
            </dt>

            <dd>
                @if (Model.Course01 == null)
                {
                    @Html.DisplayFor(model => model.Course_tbl.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course01" >@Model.Course_tbl.Name</a>
                }
            </dd>

            <dt>
                @Html.DisplayName("Course 2:")
            </dt>

            <dd>
                @if (Model.Course02 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl1.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course02">@Model.Course_tbl1.Name</a>
                }
            </dd>

            <dt>
                @Html.DisplayName("Course 3:")
            </dt>

            <dd>
                @if (Model.Course03 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl2.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course03">@Model.Course_tbl2.Name</a>
                }
            </dd>

            <dt>
                @Html.DisplayName("Course 4:")
            </dt>

            <dd>
                @if (Model.Course04 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl3.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course04">@Model.Course_tbl3.Name</a>
                }
            </dd>

            <dt>
                @Html.DisplayName("Course 5:")
            </dt>

            <dd>
                @if (Model.Course05 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl4.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course05">@Model.Course_tbl4.Name</a>
                }

            </dd>

            <dt>
                @Html.DisplayName("Course 6:")
            </dt>

            <dd>
                @if (Model.Course06 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl5.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course06">@Model.Course_tbl5.Name</a>
                }

            </dd>

            <dt>
                @Html.DisplayName("Course 7:")
            </dt>

            <dd>
                @if (Model.Course07 == null)
            {
                    @Html.DisplayFor(model => model.Course_tbl6.Name)
                }
                else
                {
                    <a class="Target" data-target="@Model.Course07">@Model.Course_tbl6.Name</a>
                }

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-sees" })
    </p>
</div>
<!-- modal pop up -->
<div id='myModalS' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Details</h2>
            </div>
            <div id='myModalContentS' class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //click on target element
            $('.Target').click(function () {
                var targetID = $(this).data("target");
                //ajax of modal pop up
                var url = '/Course/Details';
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": targetID },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContentS').html(data);
                        $('#myModalS').modal(options);
                        $('#myModalS').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModalS').modal('hide');
            });
        });
    </script>
}