@model PagedList.IPagedList<Grad_Project.Models.RegisteredCourses_tbl>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="margin_30_95" style="margin-left:30px;">
    <h2>List of Registered Students</h2>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sees" })
    </p>
    <br />
    @using (Html.BeginForm("Index", "RegisteredCourses", FormMethod.Get))
    {
        <p>
            Search Box: &ensp;
            @Html.TextBox("Search", null, new { @class = "form-control-sees" }) &ensp;
            <input type="submit" value="Search" class="btn btn-sees">
        </p>
    }
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Student Code")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="tableTR">
                <td class="Target" data-target="@item.ID" onclick="location.href = '@Url.Action("Details", new { id = item.ID })'">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) &ensp;
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Search = Request.QueryString["Search"] }))
</div>