@model Grad_Project.Models.Course_tbl

<div class="margin_30_95" style="margin-left:30px;">
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Level")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ed_Level)
            </dd>

            <dt>
                @Html.DisplayName("Prof")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lecturer_tbl.Name)
            </dd>

            <dt>
                @Html.DisplayName("Assistant")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lecturer_tbl1.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> &ensp;
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees"})
            </div>
        }
    </div>
</div>

