@model Grad_Project.Models.Course_tbl


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Course Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Level")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ed_Level)
        </dd>

        <dt>
            @Html.DisplayName("Number of Documents")
        </dt>

        <dd>
            @Html.ActionLink(Model.PDFs, "Index", "File")

            @*@if (Model.PDFs == null)
            {
                @Html.DisplayFor(model => model.PDFs)
            }
            else
            {
                @Html.ActionLink((Model.PDFs.Split('/').Count() - 1).ToString(), "Index", "File")
            }*@
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Links)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Links)
        </dd>

        <dt>
            @Html.DisplayName("Prof")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturer_tbl.Name)
        </dd>

        <dt>
            @Html.DisplayName("Assistant")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturer_tbl1.Name)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Lecturer"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-sees" })
    </p>
}

