@model Grad_Project.Models.Course_tbl

<div class="margin_30_95" style="margin-left:30px;">
    <h2>@Model.Name</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ed_Level, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ed_Level, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ed_Level, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prof, "Prof", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Prof", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prof, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Assistant, "Assistant", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Assistant", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Assistant, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.PDFs)

            <div class="form-group">
                @Html.Label("Course Documents", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ActionLink("Upload Files", "UploadFiles", null, new { @class = "btn btn-success" }) &ensp; @Html.ActionLink("View Files", "Index", "File", null, new { @class = "btn btn-sees" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Links, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Links, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Links, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-sees" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees"})
    </div>

</div>
