@model PagedList.IPagedList<Grad_Project.Models.Course_tbl>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Course", FormMethod.Get, new { @class = "horizontal-form" }))
{
    <p>
        Search Box: @Html.TextBox("Search")
        <button type="submit" value="Search" class="btn btn-primary">Search</button>
    </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Course Name")
        </th>
        <th>
            @Html.DisplayName("Level")
        </th>
        <th>
            @Html.DisplayName("Prof")
        </th>
        <th>
            @Html.DisplayName("Assistant")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ed_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecturer_tbl.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecturer_tbl1.Name)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        }

    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new {Page_No}))