@model PagedList.IPagedList<Grad_Project.Models.Student_tbl>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="margin_30_95" style="margin-left:30px;">

    <h2>Student List</h2>
    
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sees" })
    </p>

    @using (Html.BeginForm("Index", "Course", FormMethod.Get))
    {
        <p>
            Search Box: &ensp;
            @Html.TextBox("Search", null, new { @class = "form-control-sees" }) &ensp;
            <input type="submit" value="Search" class="btn btn-sees">
        </p>
    }
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Student Name")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Department")
            </th>
            <th>
                @Html.DisplayName("Level")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="tableTR">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ed_Level)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) &ensp;
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Search = Request.QueryString["Search"] }))
</div>

