@model Grad_Project.Models.Exam_tbl


<div class="margin_30_95" style="margin-left:30px;">
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Course_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd class="type">
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_Mark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_Mark)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question_tbl.Ques_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question_tbl.Ques_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question_tbl1.Ques_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question_tbl1.Ques_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question_tbl2.Ques_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question_tbl2.Ques_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question_tbl3.Ques_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question_tbl3.Ques_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question_tbl4.Ques_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question_tbl4.Ques_Title)
            </dd>
            @if (Model.Type == "Exam")
            {
                <dt class="ex">
                    @Html.DisplayNameFor(model => model.Question_tbl5.Ques_Title)
                </dt>

                <dd class="ex">
                    @Html.DisplayFor(model => model.Question_tbl5.Ques_Title)
                </dd>

                <dt class="ex">
                    @Html.DisplayNameFor(model => model.Question_tbl6.Ques_Title)
                </dt>

                <dd class="ex">
                    @Html.DisplayFor(model => model.Question_tbl6.Ques_Title)
                </dd>

                <dt class="ex">
                    @Html.DisplayNameFor(model => model.Question_tbl7.Ques_Title)
                </dt>

                <dd class="ex">
                    @Html.DisplayFor(model => model.Question_tbl7.Ques_Title)
                </dd>

                <dt class="ex">
                    @Html.DisplayNameFor(model => model.Question_tbl8.Ques_Title)
                </dt>

                <dd class="ex">
                    @Html.DisplayFor(model => model.Question_tbl8.Ques_Title)
                </dd>

                <dt class="ex">
                    @Html.DisplayNameFor(model => model.Question_tbl9.Ques_Title)
                </dt>

                <dd class="ex">
                    @Html.DisplayFor(model => model.Question_tbl9.Ques_Title)
                </dd>
            }
            
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> &emsp;
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sees" })
            </div>
        }
    </div>
</div>