@model Grad_Project.Models.Exam_tbl
@using Grad_Project.Models

<div class="margin_30_95" style="margin-left:30px;">
    <h2>@Model.Exam_ID</h2>

    @using (Html.BeginForm())
    {

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Code", null, new { @class = "form-control" })
            </div>
            
        </div>

        <div style="margin-top:20px; margin-bottom:20px;">
            @if(Model.Type == "Quiz")
            {
                @Html.Hidden("Quiz")
            }
            else
            {
                @Html.Hidden("Exam")
            }
            <p style="text-align:center; font-size:x-large" id="countTime"></p>
        </div>

        @{
            var Questions = new List<Question_tbl>();
            if (Model.Type == "Quiz")
            {
                Questions.Add(Model.Question_tbl);
                Questions.Add(Model.Question_tbl1);
                Questions.Add(Model.Question_tbl2);
                Questions.Add(Model.Question_tbl3);
                Questions.Add(Model.Question_tbl4);
            }else
            {
                Questions.Add(Model.Question_tbl);
                Questions.Add(Model.Question_tbl1);
                Questions.Add(Model.Question_tbl2);
                Questions.Add(Model.Question_tbl3);
                Questions.Add(Model.Question_tbl4);
                Questions.Add(Model.Question_tbl5);
                Questions.Add(Model.Question_tbl6);
                Questions.Add(Model.Question_tbl7);
                Questions.Add(Model.Question_tbl8);
                Questions.Add(Model.Question_tbl9);
            }
            int i = 1;
            foreach (var q in Questions)
            {
                <div class="form-group" style="margin-left:30px;">
                    <h4>@q.Ques_Title</h4>
                    <div class="col-md-10 col-xs-10" style="border:dashed;">
                        <input name="StudentAnsQ_@i"
                               id="@q.Q_ID"
                               type="radio"
                               value="@q.Ch01" />
                        <label for="@q.Ch01">@q.Ch01</label><br>

                        <input name="StudentAnsQ_@i"
                               id="@q.Q_ID"
                               type="radio"
                               value="@q.Ch02" />
                        <label for="@q.Ch02">@q.Ch02</label><br>

                        <input name="StudentAnsQ_@i"
                               id="@q.Q_ID"
                               type="radio"
                               value="@q.Ch03" />
                        <label for="@q.Ch03">@q.Ch03</label><br>

                        <input name="StudentAnsQ_@i"
                               id="@q.Q_ID"
                               type="radio"
                               value="@q.Ch04" />
                        <label for="@q.Ch04">@q.Ch04</label><br>

                    </div>
                </div>
                i += 1;
            }
        }

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit" class="btn btn-sees" />
            </div>
        </div>

    </div>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var sw = 0; //browser switch
            //CountDown
            var countdown = 0;
            if (document.getElementById("Quiz") != null) {
                countdown = 30 * 60 * 1000;
            }else{
                countdown = 60 * 60 * 1000;
            }
            var timerId = setInterval(function(){

                countdown -= 1000;
                var min = Math.floor(countdown / (60 * 1000));
                var sec = Math.floor((countdown - (min * 60 * 1000)) / 1000);

                if (countdown <= 0) {
                    alert("30 min!");
                    clearInterval(timerId);
                    //Sumbit Answers;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Details")',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            alert("Data has been added successfully.");
                        },
                        error: function () {
                            location.href = '@Url.Action("Index", "Result")';
                        }
                    });
                } else {
                    document.getElementById("countTime").innerHTML = min + " : " + sec;
                }

            }, 1000); //1000ms. = 1sec.
            //on clicking back or reload page
            window.onbeforeunload = function (e) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Details")',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
            }
            $(window).focus(function () {
                //do something
                if (sw >= 2) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Details")',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            alert("Data has been added successfully.");
                        },
                        error: function () {
                            location.href = '@Url.Action("Index", "Result")';
                        }
                    });
                }
            });

            $(window).blur(function () {
                //do something
                sw += 1;
            })
        })
    </script>    
}
