@model Grad_Project.Models.Result_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total_Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achieved_Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achieved_Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_tbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_tbl.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_tbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_tbl.Name)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Lecturer"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

