@model PagedList.IPagedList<Grad_Project.Models.Result_tbl>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="margin_30_95" style="margin-left:30px;">

    <h2>Results List</h2>
    <br />
    @if (User.IsInRole("Lecturer"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    @using (Html.BeginForm("Index", "Result", FormMethod.Get, new { @class = "horizontal-form" }))
    {
        <div>
            @Html.Label("Search Box (Using Title): ", new { @class = "control-label", @style = "display:inline-block;" }) &ensp;
            @Html.TextBox("Search", null, new { @class = "form-control", @style = "display:inline-block;" }) &ensp;
            <button type="submit" value="Search" style="display:inline-block;" class="btn btn-primary">Search</button> <br />
        </div>
        
    }
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Course Name")
            </th>
            <th>
                @Html.DisplayName("Student Name")
            </th>
            <th>
                @Html.DisplayName("Total Mark")
            </th>
            <th>
                @Html.DisplayName("Achieved Mark")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course_tbl.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_tbl.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Achieved_Mark)
                </td>

            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No }))
</div>

